<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_config"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".activities.UserProfileActivity"
            android:theme="@style/Theme.No_Header"
            android:exported="false" />
        <activity
            android:name=".activities.ProductListingActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.No_Header" />
        <activity
            android:name=".activities.UserRegisterPage"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.No_Header" />
        <activity
            android:name=".activities.CartCheckOutActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.No_Header" />
        <activity
            android:name=".activities.LoginPage"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.No_Header" />
        <activity
            android:name=".activities.OrderProductListingActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.No_Header" />
        <activity
            android:name=".activities.CartProductListingActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.No_Header" />
        <activity
            android:name=".activities.ProductViewActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.No_Header" />
        <activity
            android:name=".activities.UserOrMerchant"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.No_Header" />
        <activity
            android:name=".activities.LoginOrRegister"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.No_Header" />
        <activity
            android:name=".activities.HomeActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.No_Header">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>